*{
  margin: auto;
  padding: auto;
}
body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(48, 51, 29);
  color: white;
}

main {
  border: 1px solid white;
  text-align: center;
  height: auto;
}

div{
  margin: 1rem;
  padding: 1rem;
  color: red;
  text-align: center;
}
.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
p {
  padding: 1rem;
  text-align: left;
  font-size: large;
}


